.spin {
  display: inline-block;
  animation: spin 2.5s infinite ease-in-out;
  animation-delay: 1.5s; /* Delay the start of shake animation */
}

.shake {
  display: inline-block;
  animation: shake 2.5s infinite ease-in-out;
}

.animate-pulse {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(720deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}

@keyframes shake {
  0%,
  40%,
  100% {
    transform: rotate(8deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(6deg);
  }
  30% {
    transform: rotate(8deg);
  }
  40%,
  100% {
    transform: rotate(8deg);
  }
}

@keyframes pulse {
  50% {
    opacity: 0;
  }
}
